.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70%;
  width: 100%;
}

.form img {
  width: 80%;
  filter: drop-shadow(-15px 15px #0009);
}

.form .search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 30%;

  gap: 5%;
}
.search-form .search-input,
.search-form .filters {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  gap: 24px;
}
.search-form .filters {
  justify-content: center;
  align-items: center;
}

.search-form input,
.search-input button {
  width: 70%;
  height: 70px;
  max-width: 640px;

  color: var(--secondary-color);
  font-size: 1.3rem;
  box-shadow: -10px 10px #0006;
}
.search-input button {
  width: fit-content;
}
.search-input input::placeholder {
  color: var(--primary-color);
  font-style: italic;
}

@media screen and (max-width: 720px) {
  .form svg {
    width: 80%;
    height: 200px;
  }
  .form .search-form input,
  .form .search-form button {
    height: 50px;
    letter-spacing: 3px !important;
  }
}
