.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5%;
  align-items: center;
  height: 80vh;
  padding: var(--padding);
  width: 100%;padding: 50px 25px;
}

.form img {
  width: 80%;
  max-width: 1024px;
  filter: drop-shadow(-15px 15px 0 #0009);
}

.form .search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 40%;
  gap: 24px;
}
.search-form .search-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  gap: 24px;
}

.search-form input {
  width: 70%;
  height: 70px;
  max-width: 1024px;
color: var(--primary-color);
  font-size: 1.3rem;
  box-shadow: -10px 10px #0006;
}
.search-form input{
  width: 80%;
}
.search-form button {
  width: 40%;
  box-shadow: -10px 10px #0006;

}
.search-input input::placeholder {
  
  font-style: italic;
}

@media screen and (max-width: 720px) {
  .form {
    gap: 5%;
    padding: 5px;height: 60vh;

  }
  .form svg {
    width: 80%;
    height: 200px;
  } 
  .form .search-form{
    height: 50%;
  }
  .search-form .search-input{
    height: 50px;
    width: 80%;
  }
  .form .search-form input,
  .form .search-form button {
    height: 50px;
    letter-spacing: 3px !important;
  }
}
@media screen and (max-width: 420px) {

  .form img {
    width: 70%;
  }
  .form .search-form {
    width: 100%;
  }.search-form .search-input{
    width: 90%;
  }

  .search-form .search-input input,
  .search-form .search-input button {
    height: 30px;
    letter-spacing: 3px !important;
  }
}