.search-page{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-page .search-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;

  gap: 5%;
} 

.search-page .search-form  input{
  width: 50%;
  border: 2px outset #999;
  outline:none;
  text-align: center;
}

