.result-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  width: 400px;
  aspect-ratio: 10/15;
  overflow: hidden;

  border: 2px solid #fff2;
  border-radius: var(--border-radius);
  box-shadow: 0 0 50px rgb(0, 0, 0);

  /* animation: appear 0.5s ease-in-out; */
}

.result-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.result-card .basic-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding);
  width: 100%;
  height: 30%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.result-card .basic-data h2 {
  width: 100%;
  letter-spacing: 0px !important;
  grid-column: span 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result-card .basic-data p {
  width: 100%;
  overflow: hidden;
  letter-spacing: 0px !important;
}
