@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');

:root {
  --padding: 10px 20px;
  --border-radius: 15px;

  --primary-color: #bfde42;
  --secondary-color: #42b4ca;
  --accent-color: gold;
  --background-color: #242424;
  
  color: var(--primary-color);
  background-color: var(--background-color);

  line-height: 1.5;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

* {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 5px !important;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* transition: .5s; */
}

body{
  overflow-x: hidden;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  /* letter-spacing: 5px; */
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 0.8rem;
  font-weight: 800;
}

  
  input, select, button{
  appearance: none;
  
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  height: 50px;

  border-radius: var(--border-radius);
  border: none;
  padding: 5px 10px;

  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 2px ridge var(--secondary-color);
  outline: none;

}
input:active,
input:focus,
input:not(:empty) {
  border-color: var(--primary-color);
  
}input::placeholder {
  color: var(--secondary-color);
  opacity: .5;
  font-style: italic;
}

button {
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
  transition: .2
}button:hover {
  border-color: var(--primary-color);
}
select {

  width:150px;
  height: 50px;
  padding: var(--padding);
  border-radius: var(--border-radius) !important;
  text-align: start;
}

@media screen and (max-width: 900px) {
  input, button, select{
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 720px) {
    input, button, select {
      height: 40px !important;
      font-size: 0.7rem !important;
      padding: 2px 4px;;
    }
}