@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');

:root {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --padding: 10px 20px;
  --border-radius: 20px;

  --primary-color: green;
  --secondary-color: aqua;
  --accent-color: gold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 5px;
  -webkit-text-stroke: 2.5px rgba(0, 0, 0, 0.543);
  margin-bottom: 0.5rem;
}
.subtitle{
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  -webkit-text-stroke: 1px #000;
  margin-bottom: 0.5rem;
}
.text{
  font-size: 1rem;
  font-weight: 800;
  -webkit-text-stroke: .5px #000;
  letter-spacing: 3px;
}

input {
  height: 50px;

  border-radius: var(--border-radius);
  border:none;
  padding: 5px 10px;
  

  font-size: 1rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 3px;
}


button {
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: var(--accent-color)
}