@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --padding: 10px 20px;
  --border-radius: 15px;

  --primary-color: #bfde42;
  --secondary-color: #42b4ca;
  --accent-color: gold;
}

* {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 10px !important;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  /* letter-spacing: 5px; */
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 0.8rem;
  font-weight: 800;
}

input {
  font-family: 'Orbitron', sans-serif;

  height: 50px;

  border-radius: var(--border-radius);
  border: none;
  padding: 5px 10px;

  font-size: 1rem;
  line-height: 1.2;
  text-align: center;

  border: 2px outset #999;
  outline: none;
}
input:active,
input:focus,
input:not(:empty) {
  border: 2px solid var(--primary-color);
}input::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
  font-style: italic;
}

button {
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  text-align: center;
}

@media screen and (max-width: 1300px) {
  input {
    letter-spacing: 1px !important;
  }
  button {
    font-size: .8rem !important;
  }
  
}
@media screen and (max-width: 900px) {
  input {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 720px) {
    input {
      font-size: 0.7rem !important;
    }
}